<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<h1>View page</h1>
<a th:href="@{/notes}">Back to list</a><br>
    <table>
        <tr>
            <td>id: </td>
            <td th:text="${note.id}"></td>
        </tr>
        <tr>
            <td>title: </td>
            <td th:text="${note.title}"></td>
        </tr>
        <tr>
            <td>content: </td>
            <td th:text="${note.content}"></td>
        </tr>
        <tr>
            <td>type: </td>
            <td th:text="${note.type.getName()}"></td>
            <!--<td th:text="" name="type" th:value="${null}"></td>-->
        </tr>
    </table>
    <input type="hidden" th:value="${note.id}" name="id">

</body>
</html>